/* **************************
*{
  box-sizing: border-box => 이거(reset css) 안해도 됨ㅋ / @tailwind base 여기에 다 들어가 있음
}
************************** */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--글로벌폰트변수);
}
